.politica {
  padding: 60px 20px 60px 30px;
  margin: 0 auto;
}

.politica h1 {
  text-align: center;
  margin-bottom: 40px;
}

.container-lista-politica li {
  margin: 0 auto;
  max-width: 75ch;
}

.politica p {
  max-width: 75ch;
  margin: 0 auto;
}

.container-lista-politica h2 {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  margin-top: 20px;
}

.container-lista-politica h3 {
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
}

.container-lista-politica p {
  margin-top: 20px;
}

th {
  padding: 0.5rem;
}

@media (max-width: 960px) {
  .container-tabela {
    overflow-x: scroll;
  }

  .container-tabela::-webkit-scrollbar {
    height: 10px;
    width: 10px;
  }
  .container-tabela::-webkit-scrollbar-track {
    background: var(--cor-0);
  }
  .container-tabela::-webkit-scrollbar-thumb {
    background: var(--cor-p1);
    border-top: 2px solid var(--cor-0);
    border-bottom: 2px solid var(--cor-0);
  }

  .politica {
    padding: 40px 20px 40px 30px;
  }
}
