:root {
  --swiper-pagination-color: #243b55;
  --swiper-pagination-bullet-size: 8px;
  --swiper-pagination-bullet-width: 8px;
  --swiper-pagination-bullet-height: 8px;
  --swiper-pagination-bullet-inactive-color: #243b55;
  --swiper-pagination-bullet-inactive-opacity: 0.4;
  --swiper-pagination-bullet-opacity: 1;
  --swiper-pagination-bullet-horizontal-gap: 4px;
  --swiper-pagination-bullet-vertical-gap: 6px;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  overflow-x: hidden;
}

body {
  margin: 0px;
}

strong {
  color: var(--cor-p6);
}

h1,
h2,
h3,
h4,
ul,
p,
blockquote,
dd,
ol,
table,
th,
tr {
  margin: 0px;
  padding: 0;
}

ul {
  padding: 0px;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  display: block;
}

.bg-paginas-internas {
  background: #141e30; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #243b55,
    #141e30
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #243b55,
    #141e30
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  border-top: 1px solid rgba(255, 255, 255, 0.5);
}

.whats-icon {
  height: 80px;
  width: 120px;
  position: fixed;
  bottom: 45px;
  right: -20px;
  z-index: 99999;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}
