.bg-header {
  background: #141e30; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #243b55,
    #141e30
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #243b55,
    #141e30
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.logo {
  width: 200px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 20px;
}

.nav ul {
  display: flex;
  align-items: center;
  gap: 4px;
}

.nav a {
  text-transform: uppercase;
  letter-spacing: 0.1px;
  padding: 8px 12px;
  color: var(--cor-0);
  font-weight: bold;
  display: block;
}

.link-interno::after {
  content: '';
  margin-top: 2px;
  display: block;
  width: 0%;
  height: 2px;
  background: var(--cor-0);
  transition: 0.3s;
}

.link-interno:hover::after {
  width: 100%;
}

.nav .btn-escritorio {
  color: var(--cor-0);
  font-weight: bold;
  background: var(--cor-gradient-p1);
  color: var(--cor-1);
  padding: 12px 24px;
  border-radius: 4px;
}

.nav .btn-escritorio:hover {
  background: var(--cor-gradient-p2);
}

#btn-mobile {
  display: none;
}

@media (max-width: 960px) {
  #btn-mobile {
    display: block;
  }

  .link-interno:after {
    display: none;
  }

  #menu {
    flex-direction: column;
    position: absolute;
    width: 100%;
    top: 98px;
    left: 0px;
    background: #141e30; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to right,
      #243b55,
      #141e30
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to right,
      #243b55,
      #141e30
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 0px;
    z-index: 1000;
    transition: 0.5s;
    overflow-y: hidden;
    visibility: hidden;
    align-items: initial;
  }

  #nav.active #menu {
    height: calc(100vh - 99px);
    visibility: visible;
    overflow-y: auto;
  }

  #menu a {
    padding: 1rem 1rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }
  #btn-mobile {
    display: flex;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: none;
    background: none;
    cursor: pointer;
  }

  #hamburger {
    display: block;
    border-top: 2px solid var(--cor-0);
    width: 30px;
  }

  #hamburger::after,
  #hamburger::before {
    content: '';
    width: 30px;
    height: 2px;
    background: var(--cor-0);
    display: block;
    margin-top: 8px;
    transition: 0.3s;
    position: relative;
  }

  #nav.active #hamburger {
    border-top-color: transparent;
  }

  #nav.active #hamburger::before {
    transform: rotate(135deg);
  }
  #nav.active #hamburger::after {
    transform: rotate(-135deg);
    top: -10px;
  }

  .nav .btn-escritorio {
    display: inline-block;
  }

  #menu li:last-child {
    place-self: center;
    margin-top: 10px;
  }
}
