.bg-apresentacao {
  background: url(../../img/redes.svg);
  background-repeat: repeat;
  background-attachment: fixed;
}

.apresentacao {
  padding: 120px 20px 60px 20px;
  display: grid;
  gap: 40px;
}

.conteudo-apresentacao,
.conteudo-apresentacao-2 {
  display: grid;
  align-items: center;
}

.conteudo-apresentacao {
  grid-template-columns: 2fr 1fr;
}

.conteudo-apresentacao-2 {
  grid-template-columns: 1fr 2fr;
}

.diamond {
  max-width: 400px;
  height: auto;
  opacity: 0.8;
  fill: #003300;
}

.conteudo-apresentacao-2 {
  text-align: right;
}

.conteudo-apresentacao-2 p {
  max-width: 75ch;
  margin-left: auto;
}

.conteudo-apresentacao h2,
.conteudo-apresentacao-2 h2 {
  display: inline-block;
}

.conteudo-apresentacao h2::after,
.conteudo-apresentacao-2 h2::after {
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  background: var(--cor-1);
  margin-top: 5px;
  margin-bottom: 20px;
}

.conteudo-apresentacao p {
  max-width: 75ch;
}

.btn-apresentacao {
  place-self: center;
}

.btn-apresentacao:hover {
  color: var(--cor-1);
  border-color: var(--cor-1) !important;
}

@media (max-width: 960px) {
  .apresentacao {
    padding: 40px 20px 20px 20px;
  }

  .conteudo-apresentacao,
  .conteudo-apresentacao-2 {
    grid-template-columns: 1fr;
  }

  .diamond {
    display: none;
  }

  .conteudo-apresentacao-2,
  .conteudo-apresentacao {
    text-align: center;
  }

  .conteudo-apresentacao-2 p,
  .conteudo-apresentacao p {
    text-align: left;
    margin-left: 0;
  }
}

@media (max-width: 500px) {
  .bg-apresentacao {
    background-attachment: initial;
  }
}
